In [1]:
import pandas as pd
import numpy as np

In [7]:
parent = 'datasets/'
repository = 'drugs'
# location = parent + repository + '/' + repository + '.data'
location = parent + repository + '/' + 'drug200.csv'

data = pd.read_csv(location, names=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N'])
data = data.dropna(axis=1, how='all')
print(len(data))

print(set(data['F']))

data.head()

201
{'Drug', 'DrugY', 'drugC', 'drugA', 'drugX', 'drugB'}

     A    B       C            D        E      F
0  Age  Sex      BP  Cholesterol  Na_to_K   Drug
1   23    F    HIGH         HIGH   25.355  DrugY
2   47    M     LOW         HIGH   13.093  drugC
3   47    M     LOW         HIGH   10.114  drugC
4   28    F  NORMAL         HIGH    7.798  drugX

In [10]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(data, data['I']):
    train_set = data.loc[train_index]
    test_set = data.loc[test_index]

train_set = train_set.reset_index(drop=True)
test_set = test_set.reset_index(drop=True)

In [11]:
print(len(train_set))
print(len(test_set))
len_total = len(train_set) + len(test_set)
print(len_total)
print(len(train_set)/len_total)

# print(len(train_set[train_set['N'] == ' <=50K']))
# print(len(train_set[train_set['N'] == ' >50K']))
# print(len(train_set[train_set['N'] == ' <=50K'])/len(train_set))

7418
1855
9273
0.7999568640138035

In [12]:
D = train_set.values.tolist()
L = []
for lista in D:
    L.append([i for i in lista])
    
    
with open(repository + '/' + repository + '_' + 'train.data', "w") as f:
    for value in L:
        a = ', '.join([str(i if type(i) == str else round(i,2)).strip() for i in value[0:]]) + '\n'
        f.write(a)

In [13]:
D = test_set.values.tolist()
L = []
for lista in D:
    L.append([i for i in lista])
    
    
with open(repository + '/' + repository + '_' + 'test.data', "w") as f:
    for value in L:
        a = ', '.join([str(i if type(i) == str else round(i,2)).strip() for i in value[0:]]) + '\n'
        f.write(a)