In [2]:
import pandas as pd
import numpy as np

In [6]:
parent = '../datasets/'
repository = 'adult'
location = parent + repository + '/' + repository + '.data'

data = pd.read_csv(location, names=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O'])
data = data.dropna(axis=1, how='all')
print(len(data))

print(set(data['F']))

data.head()

32561
{' Widowed', ' Married-spouse-absent', ' Separated', ' Never-married', ' Divorced', ' Married-AF-spouse', ' Married-civ-spouse'}

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(data, data['I']):
    train_set = data.loc[train_index]
    test_set = data.loc[test_index]

train_set = train_set.reset_index(drop=True)
test_set = test_set.reset_index(drop=True)

In [9]:
print(len(train_set))
print(len(test_set))
len_total = len(train_set) + len(test_set)
print(len_total)
print(len(train_set)/len_total)

print(len(train_set[train_set['O'] == ' <=50K']))
print(len(train_set[train_set['O'] == ' >50K']))
print(len(train_set[train_set['O'] == ' <=50K'])/len(train_set))

26048
6513
32561
0.7999754307300144
19777
6271
0.7592521498771498

In [10]:
D = train_set.values.tolist()
L = []
for lista in D:
    L.append([i for i in lista])
    
    
with open('../datasets/' + repository + '/' + repository + '_' + 'train.data', "w") as f:
    for value in L:
        a = ', '.join([str(i if type(i) == str else round(i,2)).strip() for i in value[0:]]) + '\n'
        f.write(a)

In [11]:
D = test_set.values.tolist()
L = []
for lista in D:
    L.append([i for i in lista])
    
    
with open('../datasets/' + repository + '/' + repository + '_' + 'test.data', "w") as f:
    for value in L:
        a = ', '.join([str(i if type(i) == str else round(i,2)).strip() for i in value[0:]]) + '\n'
        f.write(a)